:root {
  --left: -50px + 20vw;
  --top: -30px + 40vh;
}

.App {
  text-align: center;
  background-image: url("./sunset.jpeg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.header {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px; 
  position: relative;
  left: calc(var(--left));
  top: calc(var(--top) + 10px);
  display: block;
}
.linkedin {
  font-family: "Quicksand";
  position: absolute;
  top: calc(var(--top) + 105px);
  left: calc(var(--left) + 2px);
  font-size: 18px;
  display: block;
}
.github {
  font-family: "Quicksand";
  position: absolute;
  top: calc(var(--top) + 105px);
  left: calc(var(--left) + 102px);
  font-size: 18px;
  display: block;
}

.resume {
  font-family: "Quicksand";
  position: absolute;
  top: calc(var(--top) + 105px);
  left: calc(var(--left) + 190px);
  font-size: 18px;
  display: block;
}

.div {
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
